.about{
    background-color: var(--background-color-1);
    padding: 8rem 0;
    position: relative;
    
    .aboutDiv{
        display: grid;
        grid-template-columns: 3fr 4fr;
        gap: 4rem;
        justify-content: left;

        .content{
            max-width: 60ch;
        }

        img{
            border-radius: 20px;
        }
        h3{
            color: var(--primary-color-2);
            font-size: 1.25rem;
            margin: 0;
        }
        h2{
            font-size: 1.5rem;
        }
        p{
            margin: .5rem 0;
            color: #cecece;
        }
    }
}


@media (max-width: 800px) {
    .about .aboutDiv{
        grid-template-columns: 1fr;
        
        text-align: center;
        .content{
            max-width: 60ch;
        }

        p{
        }
    }

    
}

@media (max-width: 400px) {
    .about img {
        display: none;
    }
}