.footer{
    display: flex;
    padding: 4rem 0;
    justify-content: space-between;
    align-items: center;
}

.links{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;

    a{
        padding: 10px;
        font-size: 2rem;
        transition: .3s;
        &:hover{
            transform: scale(1.5);
        }
    }
}